<ion-view title="General_API" id="page4" style="background-color:#276594;">
    <ion-content padding="true" style="background: url(img/spYllb72RyimS0hFD4bm_Simple-blue-high-resolution-wallpaper.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="general_API-form7" class="list">
            <label class="item item-input" id="txt_placeName">
                <input type="text" placeholder="Enter place you want to search">
            </label>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <label class="item item-input" id="txt_searchFilter">
                <input type="text" placeholder="Enter search query">
            </label>
        </form>
        <button id="general_API-button5" class="button button-stable  button-block">Get venues</button>
    </ion-content>
</ion-view>