<ion-view title="Signup" id="page5" style="background-color:#276594;">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list">
            <ion-list id="signup-list3">
                <label class="item item-input" id="signup-input7">
                    <span class="input-label">Email id</span>
                    <input type="text" placeholder="email_id">
                </label>
                <label class="item item-input" id="signup-input8">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="username">
                </label>
                <label class="item item-input" id="signup-input9">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password">
                </label>
                <label class="item item-input" id="signup-input10">
                    <span class="input-label">phone number</span>
                    <input type="tel" placeholder="password">
                </label>
            </ion-list>
            <a ui-sref="user_created_success" id="signup-button4" style="color:#1A1A20;" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>