<ion-view title="Web_Service" id="page7">
    <ion-content padding="true" style="background: url(img/CPgstdzqTUeHdsGLyMT0_Simple-blue-high-resolution-wallpaper.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h4 id="web_Service-heading4" style="color:#000000;">English to french translator</h4>
        <form id="web_Service-form8" class="list">
            <label class="item item-input" id="web_Service-input8">
                <input type="text" placeholder="Enter text to translate">
            </label>
        </form>
        <button id="web_Service-button8" class="button button-positive  button-block">Translate</button>
    </ion-content>
</ion-view>